<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-RISHI ANAND</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">RishiAnand.</a>
        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="certificates.html">Skills</a>
            <a href="publications.html">Publications</a>
            <a href="work.html">Internship</a>
            <a href="global.html" class="active">Global Certificates</a>
            <a href="contact.html">Contact</a>
            
        </nav>
    </header>
    <section class="certificates">
        <div class="con">
            <h4> Generative Al</h4>
            <img src="img/cer28.jpeg" alt="Certificate 1" class="certificate-image">
            <p>Thrilled to announce l've successfully completed the Global Certification in Generative Al with Oracle! a
Excited to apply cutting-edge Al techniques to drive innovation and create transformative
solutions.</p>
        </div>
    </section>
</body>
</html>
