<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-RISHI ANAND</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">RishiAnand.</a>
        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="certificates.html">Skills</a>
            <a href="publications.html" class="active">Publications</a>
            <a href="work.html">Internship</a>
            <a href="global.html">Global Certificates</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <section class="work">
        <div class="con">
            <h4>Paper Publication</h4>
            <p>This paper presents a thorough exploration into the design, development, and evaluation of a state-of-the-art Speech-Recognized Voice Bot. The research aims to contribute to the burgeoning field of natural language processing and human-computer interaction by introducing an advanced system that leverages cutting-edge speech recognition technology. The study encompasses the entire lifecycle of the Voice Bot, from its conceptualization and architecture to the rigorous evaluation of its performance.
            </p>
                <h4>Certificate</h4>
                <img src="img/Untitled design_231220_094015_page-0001.jpg" alt="Internship Certificate 1" width="500">
        </div>
    </section>
</body>